.footer-container{
    display: flex;
    flex-direction: row;
    justify-content: center;
    height: 68px;
    max-height: 68px;
}
.inner-container{
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    align-content: center;
    flex-wrap: nowrap;
    padding-top: 10px;
    padding-bottom: 10px;
}
.link-div{
   margin-right: 1rem;
   height: auto;
}
.link-tag{
    text-decoration: none;
}
.link-tag p{
    margin: 0;
    color: #6B6B6B;
    line-height: 20px;
    font-size: 13px;
}