.home{
    display: flex;
    flex-direction: column;
    justify-content: center;
    max-width: 680px;
}
.home-container{
    display: flex;
    justify-content: center;
    align-items: center;
}
p{
    margin: 0;
}